/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=button] {
  -moz-appearance: none;
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%; }

.l-header {
  overflow: hidden; }

.l-header__text {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 775px;
  position: relative; }

.l-burger {
  display: block;
  position: relative;
  z-index: 7;
  max-height: 100px; }

.l-logo {
  display: block;
  max-width: 75%;
  line-height: 1.5em;
  transform: rotate(-9deg);
  position: relative;
  z-index: 3;
  max-height: 80px;
  overflow: visible; }

.l-burger svg {
  display: block;
  width: 125px;
  height: auto; }

@media (hover: hover) {
  .l-burger svg {
    width: 75px; }

  .l-header__text {
    min-height: 585px; } }
@media (min-width: 768px) {
  .l-burger {
    max-height: 80px; }

  .l-burger svg {
    width: 100px; }

  .l-header__text {
    min-height: 695px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-burger svg {
    width: 50px; }

  .l-header__text {
    min-height: 585px; } }
@media (min-width: 1024px) {
  .l-header__text {
    min-height: 575px; } }
@media (min-width: 1200px) {
  .l-header__text {
    min-height: 600px; } }
.l-leafBorder::before {
  display: block;
  height: 80px;
  margin-top: -79px;
  padding-bottom: 80px;
  position: relative;
  z-index: 5; }

.l-leafBorder--dark::before {
  display: block;
  height: 50px;
  margin-top: -80px;
  padding-bottom: 50px;
  position: relative;
  z-index: 5; }

.l-navigation {
  position: absolute;
  right: -400px;
  top: 0;
  transition: all 0.2s linear; }

.l-navigation ul {
  min-height: 775px;
  min-width: 38vw;
  padding-top: 120px; }

.l-navigation ul li a {
  display: block;
  padding: 30px 25px; }

@media (hover: hover) {
  .l-navigation ul {
    padding-top: 80px;
    min-width: 0px; } }
@media (min-width: 768px) {
  .l-navigation ul {
    min-height: 775px;
    min-width: 35vw;
    padding-top: 110px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-navigation ul {
    padding-top: 65px; } }
@media (min-width: 1024px) {
  .l-burger {
    display: none; }

  .l-navigation {
    position: static; }

  .l-navigation ul {
    min-height: auto;
    min-width: auto;
    padding-top: 0px;
    display: flex; }

  .l-navigation ul li a {
    display: inline-block;
    padding: 15px 20px;
    white-space: nowrap; } }
.l-content {
  padding: 30px 25px 125px; }

.l-content h1 {
  margin-top: 80px;
  margin-bottom: 40px; }

.l-content h2 {
  margin-bottom: 20px; }

.l-content p {
  margin-bottom: 20px; }

.l-content .accent {
  margin-bottom: 30px; }

@media (hover: hover) {
  .l-content h1 {
    margin: 40px 0px 30px; } }
@media (min-width: 450px) {
  .l-content {
    padding: 30px 50px 125px; } }
@media (min-width: 800px) {
  .l-content {
    padding: 30px 70px 125px; } }
@media (min-width: 1024px) {
  .l-content {
    max-width: 1000px;
    margin: 0px auto;
    padding: 30px 0px 150px; } }
input[type="text"],
input[type="email"] {
  display: inline-block;
  width: 65%;
  padding: 10px 20px; }

textarea {
  display: inline-block;
  width: 100%;
  resize: vertical;
  padding: 10px 20px; }

form {
  text-align: center; }

form span {
  display: inline-block;
  width: 40%;
  margin-right: 40px;
  text-align: left; }

.l-question {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.l-radio {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-grow: 1;
  padding-left: 10px; }

.l-radio > div {
  flex-grow: 1; }

.l-radio label {
  display: block;
  position: relative;
  padding-left: 40px;
  min-width: 100%; }

.l-radio span::before,
.l-radio span::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  margin: auto; }

.l-radio span::before {
  left: -25px;
  width: 40px;
  height: 40px; }

.l-radio span::after {
  left: -15px;
  width: 20px;
  height: 20px; }

form input[type="submit"] {
  margin-top: 30px; }

.l-message {
  text-align: left; }

.l-message span {
  margin-bottom: 15px; }

@media (hover: hover) {
  .l-question {
    margin-bottom: 15px; }

  form span {
    margin-right: 20px; }

  input[type="text"],
  input[type="email"] {
    padding: 5px 10px; }

  .l-radio span::before {
    left: -25px;
    width: 20px;
    height: 20px; }

  .l-radio span::after {
    left: -20px;
    width: 10px;
    height: 10px; }

  .l-radio label {
    padding-left: 20px; }

  form input[type="submit"] {
    margin-top: 15px; } }
@media (min-width: 768px) {
  form span {
    width: 30%; }

  input[type="text"],
  input[type="email"] {
    width: 70%;
    padding: 10px 20px; }

  textarea {
    padding: 10px 20px; }

  .l-radio span::before {
    left: -20px;
    width: 30px;
    height: 30px; }

  .l-radio span::after {
    left: -12px;
    width: 14px;
    height: 14px; }

  .l-radio label {
    padding-left: 25px; } }
@media (min-width: 768px) and (hover: hover) {
  input[type="text"],
  input[type="email"] {
    width: 75%;
    padding: 5px 10px; }

  form span {
    width: 25%; }

  .l-radio span::before {
    left: -12px;
    width: 20px;
    height: 20px; }

  .l-radio span::after {
    left: -7px;
    width: 10px;
    height: 10px; } }
@media (min-width: 1024px) {
  input[type="text"],
  input[type="email"] {
    width: 75%;
    padding: 6px 10px; }

  textarea {
    padding: 6px 10px; }

  .l-radio span::before {
    left: -10px;
    width: 20px;
    height: 20px; }

  .l-radio span::after {
    left: -5px;
    width: 10px;
    height: 10px; }

  span.radio__label {
    min-width: 100%; } }
.l-icon {
  max-width: 100px;
  display: block;
  margin: 0px auto; }

.l-details ul li {
  margin: 80px 0px;
  padding: 30px; }

@media (hover: hover) {
  .l-details ul li {
    margin: 0px 0px 20px;
    padding: 20px; }

  .l-icon {
    max-width: 35px; } }
@media (min-width: 768px) {
  .l-details ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

  .l-details ul li {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 10px);
    padding: 20px;
    margin: 10px 0px; }

  .l-icon {
    max-width: 50px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-icon {
    max-width: 30px; } }
@media (min-width: 1024px) {
  .l-details ul {
    align-items: stretch; }

  .l-details ul li {
    justify-content: center;
    width: calc(33.333% - 20px);
    padding: 25px 30px;
    margin: 10px; }

  .l-detail__group {
    padding: 20px; }

  .l-icon {
    max-width: 30px;
    display: block;
    margin: 0px auto 20px; } }
@media (min-width: 1200px) {
  .l-details {
    max-width: 1000px;
    margin: 80px auto; } }
.l-rsvp {
  margin: 120px 0px; }

@media (hover: hover) {
  .l-rsvp {
    margin: 60px 0px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-rsvp {
    margin: 80px 0px; } }
@media (min-width: 1024px) {
  .l-rsvp {
    max-width: 800px;
    margin: 100px auto; } }
.l-contact form {
  margin: 80px 0px; }

.l-contact .l-question span {
  width: 25%; }

.l-contact .l-question input {
  width: 75%; }

@media (hover: hover) {
  .l-contact form {
    margin: 20px 0px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-contact {
    max-width: 768px;
    margin: 0px auto; } }
@media (min-width: 1024px) {
  .l-contact {
    max-width: 800px;
    margin: 80px auto; }

  .l-contact form {
    max-width: 70%;
    margin: 0px auto; } }
@media (min-width: 1200px) {
  .l-contact {
    max-width: 1000px; } }
.l-registry {
  text-align: center;
  margin: 120px 0px; }

.l-registry .l-honeyfund__button {
  display: inline-block;
  margin: 60px auto 80px;
  max-width: 80%;
  padding: 0px 0px 10px; }

.l-registry .l-honeyfund__button img {
  display: block; }

.l-registry__links a {
  display: inline-block;
  max-width: 80%;
  padding: 25px 8px;
  align-items: center;
  margin: 30px 0px; }

@media (hover: hover) {
  .l-registry {
    margin: 60px 0px; }

  .l-registry .l-honeyfund__button {
    margin: 10px 0px 40px;
    max-width: 250px; }

  .l-registry__links a {
    max-width: 250px;
    padding: 15px 8px;
    margin: 10px 0px 0px; } }
@media (max-width: 375px) {
  .l-registry__links {
    display: block; }

  .l-registry__links a {
    margin: 20px auto;
    max-width: 80%; } }
@media (min-width: 768px) {
  .l-registry {
    padding: 0px 30px; }

  .l-registry .l-honeyfund__button {
    margin: 40px auto 80px;
    max-width: 60%; }

  .l-registry__links {
    margin: 0px auto;
    text-align: center;
    width: 100%; }

  .l-registry__links a {
    max-width: 60%;
    padding: 15px 8px; } }
@media (min-width: 768px) and (hover: hover) {
  .l-registry {
    margin: 80px 0px; }

  .l-registry .l-honeyfund__button {
    margin: 10px 0px 40px;
    max-width: 250px; }

  .l-registry__links a {
    max-width: 250px;
    padding: 15px 8px;
    margin: 10px 0px 0px; } }
@media (min-width: 1024px) {
  .l-registry {
    max-width: 800px;
    margin: 0px auto; }

  .l-registry .l-honeyfund__button {
    max-width: 250px;
    margin: 0px auto 30px; }

  .l-registry__links a {
    max-width: 250px;
    margin: 10px 0px; } }
@media (min-width: 1200px) {
  .l-registry {
    max-width: 1000px; } }
.l-footer {
  padding: 30px; }

.l-footer svg {
  display: inline-block;
  padding-left: 5px; }

.header {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("assets/images/1920x1500.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 775px; }

.header__text {
  background-color: rgba(0, 0, 0, 0.2); }

.logo {
  font-family: "Homemade Apple", cursive;
  font-size: 5vw;
  color: #f7e6b9;
  text-shadow: 0px 0px 3px #8a2b2a; }

.logo h1 span {
  font-family: "Lobster", cursive;
  font-size: 10vw;
  line-height: 1.4em; }

svg {
  fill: #f7e6b9; }

@media (min-width: 768px) {
  .logo {
    font-size: 40px; }

  .logo h1 span {
    font-size: 88px; } }
@media (min-width: 768px) and (hover: hover) {
  .logo {
    font-size: 24px; }

  .logo h1 span {
    font-size: 58px; } }
@media (min-width: 1024px) {
  .header {
    background-size: 100%; }

  .logo {
    font-size: 26px; }

  .logo h1 span {
    font-size: 64px; } }
@media (min-width: 1200px) {
  .logo {
    font-size: 24px; }

  .logo h1 span {
    font-size: 60px; } }
.leafBorder::before {
  content: "";
  background-color: transparent;
  background-image: url("assets/images/leaf-border.png");
  background-repeat: repeat-x; }

.leafBorder--dark::before {
  content: "";
  background-color: transparent;
  background-image: url("assets/images/leaf-border-bottom.png");
  background-repeat: repeat-x; }

.navigation ul {
  background-color: #491048;
  text-align: right;
  color: #f7e6b9;
  font-family: "Josefin Sans", serif;
  font-size: 58px; }

.navigation ul li {
  border-bottom: 4px dashed #f7e6b9; }

.border--top {
  border-top: 4px dashed #f7e6b9; }

@media (hover: hover) {
  .navigation ul {
    font-size: 24px; }

  .navigation ul li {
    border-bottom: 2px dashed #f7e6b9; }

  .border--top {
    border-top: 2px dashed #f7e6b9; } }
@media (min-width: 768px) {
  .navigation ul {
    font-size: 38px; } }
@media (min-width: 768px) and (hover: hover) {
  .navigation ul {
    font-size: 24px; } }
@media (min-width: 1024px) {
  .border--top {
    border-top: none; }

  .navigation ul li {
    border-bottom: none; }

  .navigation ul {
    background-color: transparent;
    text-shadow: 0px 0px 15px #1f0005;
    font-size: 26px; }

  .navigation ul li a {
    transition: all 0.2s ease; }

  .navigation ul li a:hover {
    color: #491048;
    text-shadow: 0px 0px 15px #f7e6b9; } }
.content {
  background-color: #f7e6b9;
  background-image: url("assets/images/parchment.png");
  background-repeat: repeat; }

.content h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 8vw;
  text-align: center;
  color: #5e2010;
  text-transform: uppercase; }

.content h2 {
  font-family: "Crushed", cursive;
  color: #491048;
  text-transform: uppercase;
  font-size: 6vw;
  text-align: center; }

.content p {
  font-family: "Josefin Sans", serif;
  color: #991903;
  font-size: 3vw;
  text-align: center;
  line-height: 1.1em; }

.content p.accent {
  font-family: "Dancing Script", cursive;
  font-size: 6vw;
  color: #491048;
  text-align: left; }

.content a {
  text-decoration: underline;
  color: #5e2010; }

.content span {
  text-transform: uppercase;
  font-family: "Poiret One", cursive;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #7f4689; }

@media (hover: hover) {
  .content h1 {
    font-size: 36px; }

  .content h2 {
    font-size: 32px; }

  .content p {
    font-size: 18px; }

  .content p.accent {
    font-size: 28px; }

  .content span {
    font-size: 24px; } }
@media (min-width: 768px) {
  .content h1 {
    font-size: 6vw; }

  .content h2 {
    font-size: 5vw; }

  .content p {
    font-size: 3.5vw; }

  .content p.accent {
    font-size: 4.5vw; } }
@media (min-width: 768px) and (hover: hover) {
  .content h1 {
    font-size: 36px; }

  .content h2 {
    font-size: 32px; }

  .content p {
    font-size: 20px; }

  .content p.accent {
    font-size: 28px; }

  .content span {
    font-size: 24px; } }
@media (min-width: 1024px) {
  body {
    background-color: #f7e6b9;
    background-image: url("assets/images/parchment.png");
    background-repeat: repeat; }

  .content {
    background: none; }

  .content h1 {
    font-size: 48px; }

  .content h2 {
    font-size: 28px; }

  .content p {
    font-size: 20px; }

  .content p.accent {
    font-size: 32px; } }
form {
  font-size: 4vw; }

input[type="text"],
input[type="email"],
textarea {
  border-radius: 20px;
  border: 4px dashed #5e2010;
  font-size: 4vw;
  color: #491048; }

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 4px solid #5e2010;
  outline: none; }

.radio span {
  font-family: "Dancing Script", cursive;
  font-size: 1.6em;
  line-height: 1.5em;
  color: #5e2010;
  text-transform: none; }

.radio span:hover {
  cursor: pointer; }

.radio span::before {
  border: 4px solid #5e2010;
  background-color: white;
  border-radius: 5px; }

.radio span::after {
  border-radius: 3px;
  background-color: #5e2010;
  opacity: 0; }

input[type="radio"]:checked + label span::after {
  opacity: 1;
  background-color: #491048; }

input[type="submit"] {
  border: 6px dashed #5e2010;
  border-radius: 20px;
  background-color: transparent;
  color: #491048;
  font-family: "Crushed", cursive;
  font-size: 8vw;
  text-transform: uppercase;
  padding: 10px 30px; }

input[type="submit"]:focus {
  border: 6px solid #5e2010;
  outline: none; }

input[type="radio"] {
  display: none; }

@media (hover: hover) {
  .radio span::before {
    border: 2px solid #5e2010;
    border-radius: 4px; }

  .radio span::after {
    border-radius: 2px; }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 10px;
    border: 2px dashed #5e2010;
    font-size: 24px; }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #5e2010; }

  input[type="submit"] {
    border: 2px dashed #5e2010;
    border-radius: 10px;
    font-size: 32px;
    padding: 10px 30px; } }
@media (max-width: 400px) {
  .rsvp form span {
    font-size: 6vw; } }
@media (min-width: 768px) {
  form {
    font-size: 26px; }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 15px;
    border: 3px dashed #5e2010;
    font-size: 26px; }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 3px solid #5e2010; }

  .radio span::before {
    border: 3px solid #5e2010; }

  .radio span::after {
    border-radius: 2px; }

  input[type="submit"] {
    border: 4px dashed #5e2010;
    border-radius: 15px;
    font-size: 54px; }

  input[type="submit"] {
    border: 2px dashed #5e2010;
    border-radius: 10px;
    font-size: 32px;
    padding: 10px 30px; } }
@media (min-width: 768px) and (hover: hover) {
  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 10px;
    border: 2px dashed #5e2010;
    font-size: 24px; }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #5e2010; }

  .radio span {
    font-size: 28px; }

  .radio span::before {
    border: 2px solid #5e2010;
    border-radius: 4px; }

  .radio span::after {
    border-radius: 2px; } }
@media (min-width: 1024px) {
  form {
    font-size: 18px; }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 10px;
    border: 2px dashed #5e2010;
    font-size: 18px; }

  input[type="text"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #5e2010; }

  input[type="radio"]:hover + label span::after {
    opacity: 0.6;
    background-color: #5e2010; }

  input[type="radio"]:checked + label span::after {
    opacity: 1;
    background-color: #491048; }

  input[type="submit"] {
    transition: all 0.5s ease; }

  input[type="submit"]:hover {
    color: #991903; }

  .radio span::before {
    border: 2px solid #5e2010; }

  .radio span::after {
    border-radius: 2px; }

  input[type="submit"] {
    border: 2px dashed #5e2010;
    border-radius: 10px;
    font-size: 32px; } }
.details ul li {
  background-color: #faf6ea;
  border: 6px dashed #491048;
  border-radius: 20px; }

@media (hover: hover) {
  .details ul li {
    border: 2px dashed #491048;
    border-radius: 10px; } }
@media (min-width: 768px) {
  .details ul li {
    border: 4px dashed #491048;
    border-radius: 15px; }

  .details p.accent {
    text-align: center; } }
@media (min-width: 768px) and (hover: hover) {
  .details ul li {
    border: 2px dashed #491048;
    border-radius: 10px; } }
@media (min-width: 1024px) {
  .details ul li {
    border: 2px dashed #491048;
    border-radius: 10px; } }
.registry .honeyfund__button {
  border-top: 4px solid #5e2010;
  border-bottom: 4px solid #5e2010;
  background-color: transparent;
  color: #491048;
  font-family: "Crushed", cursive;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none; }

.registry__links a {
  border-top: 4px solid #5e2010;
  border-bottom: 4px solid #5e2010; }

.registry a:focus {
  outline: none; }

@media (hover: hover) {
  .registry .honeyfund__button {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; }

  .registry__links a {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; } }
@media (min-width: 768px) {
  .registry .honeyfund__button {
    border-top: 3px solid #5e2010;
    border-bottom: 3px solid #5e2010; }

  .registry__links a {
    border-top: 3px solid #5e2010;
    border-bottom: 3px solid #5e2010; } }
@media (min-width: 768px) and (hover: hover) {
  .registry .honeyfund__button {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; }

  .registry__links a {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; } }
@media (min-width: 1024px) {
  .registry .honeyfund__button {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; }

  .registry__links a {
    border-top: 2px solid #5e2010;
    border-bottom: 2px solid #5e2010; } }
.footer {
  background-color: #1f0005;
  color: #f7e6b9;
  font-family: "Poiret One", cursive;
  font-size: 1em;
  text-align: center; }

.footer a {
  text-decoration: underline; }

.footer svg {
  fill: #f7e6b9; }

/*# sourceMappingURL=style.css.map */
