.leafBorder::before {
	content: "";
	
	background-color: transparent;
	background-image: url("assets/images/leaf-border.png");
	background-repeat: repeat-x;
}

.leafBorder--dark::before {
	content: "";
	
	background-color: transparent;
	background-image: url("assets/images/leaf-border-bottom.png");
	background-repeat: repeat-x;
}