.content {
	background-color: $paleYellow;
	background-image: url("assets/images/parchment.png");
	background-repeat: repeat;
}

.content h1 {
	font-family: $h1;
	font-size: 8vw;
	text-align: center;
	color: $darkRed;
	text-transform: uppercase;
}

.content h2 {
	font-family: $submit;
	color: $darkPurple;
	text-transform: uppercase;
	font-size: 6vw;
	text-align: center;
}

.content p {
	font-family: $block;
	color: $red;
	font-size: 3vw;
	text-align: center;
	line-height: 1.1em;
}

.content p.accent {
	font-family: $paragraph;
	font-size: 6vw;
	color: $darkPurple;
	text-align: left;
}

.content a {
	text-decoration: underline;
	color: $darkRed;
}

.content span {
	text-transform: uppercase;
	font-family: $thinScript;
	font-size: 1.5em;
	line-height: 1.4em;
	color: $midPurple;
}


@media (min-width: 768px) {

	.content h1 {
		font-size: 6vw;
	}

	.content h2 {
		font-size: 5vw;
	}

	.content p {
		font-size: 3.5vw;
	}

	.content p.accent {
		font-size: 4.5vw;
	}
}

@media (min-width: 1024px) {

	body {
		background-color: $paleYellow;
		background-image: url("assets/images/parchment.png");
		background-repeat: repeat;
	}

	.content {
		background: none;
	}

	.content h1 {
		font-size: 48px;
	}

	.content h2 {
		font-size: 28px;
	}

	.content p {
		font-size: 20px;
	}

	.content p.accent {
		font-size: 32px;
	}
}