form {
	font-size: 4vw;
}

input[type="text"],
input[type="email"],
textarea {
	border-radius: 20px;
	border: 4px dashed $darkRed;
	font-size: 4vw;
	color: $darkPurple;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 4px solid $darkRed;
	outline: none;
}

.radio span {
	font-family: $paragraph;
	font-size: 1.6em;
	line-height: 1.5em;
	color: $darkRed;
	text-transform: none;
}

.radio span:hover {
	cursor: pointer;
}

.radio span::before {
	border: 4px solid $darkRed;
	background-color: white;
	border-radius: 5px;
}

.radio span::after {
	border-radius: 3px;
	background-color: $darkRed;
	opacity: 0;
}

input[type="radio"]:checked + label span::after {
	opacity: 1;
	background-color: $darkPurple;
}

input[type="submit"] {
	border: 6px dashed $darkRed;
	border-radius: 20px;
	background-color: transparent;
	color: $darkPurple;
	font-family: $submit;
	font-size: 8vw;
	text-transform: uppercase;
	padding: 10px 30px;
}

input[type="submit"]:focus {
	border: 6px solid $darkRed;
	outline: none;
}

input[type="radio"] {
	display: none;
}


@media (hover: hover){

	.radio span::before {
		border: 2px solid $darkRed;
		border-radius: 4px;
	}

	.radio span::after {
		border-radius: 2px;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		border-radius: 10px;
		border: 2px dashed $darkRed;
		font-size: 24px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 2px solid $darkRed;
	}

	input[type="submit"] {
		border: 2px dashed $darkRed;
		border-radius: 10px;
		font-size: 32px;
		padding: 10px 30px;
	}
}

@media (max-width: 400px){

	.rsvp form span {
		font-size: 6vw;
	}
}

@media (min-width: 768px){

	form {
		font-size: 26px;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		border-radius: 15px;
		border: 3px dashed $darkRed;
		font-size: 26px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 3px solid $darkRed;
	}

	.radio span::before {
		border: 3px solid $darkRed;
	}

	.radio span::after {
		border-radius: 2px;
	}

	input[type="submit"] {
		border: 4px dashed $darkRed;
		border-radius: 15px;
		font-size: 54px;
	}

	input[type="submit"] {
		border: 2px dashed $darkRed;
		border-radius: 10px;
		font-size: 32px;
		padding: 10px 30px;
	}
}

@media (min-width: 768px) and (hover: hover){

	input[type="text"],
	input[type="email"],
	textarea {
		border-radius: 10px;
		border: 2px dashed $darkRed;
		font-size: 24px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 2px solid $darkRed;
	}

	.radio span {
		font-size: 28px;
	}

	.radio span::before {
		border: 2px solid $darkRed;
		border-radius: 4px;
	}

	.radio span::after {
		border-radius: 2px;
	}
}

@media (min-width: 1024px){

	form {
		font-size: 18px;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		border-radius: 10px;
		border: 2px dashed $darkRed;
		font-size: 18px;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus {
		border: 2px solid $darkRed;
	}

	input[type="radio"]:hover + label span::after {
		opacity: 0.6;
		background-color: $darkRed;
	}

	input[type="radio"]:checked + label span::after {
		opacity: 1;
		background-color: $darkPurple;
	}

	input[type="submit"] {
		transition: all 0.5s ease;
	}

	input[type="submit"]:hover {
		color: $red;
	}

	.radio span::before {
		border: 2px solid $darkRed;
	}

	.radio span::after {
		border-radius: 2px;
	}

	input[type="submit"] {
		border: 2px dashed $darkRed;
		border-radius: 10px;
		font-size: 32px;
	}
}