input[type="text"],
input[type="email"] {
	border-radius: 5px;
	border: 1px dashed $darkRed;
	font-size: 1em;
	padding: 6px 10px;
	color: $darkPurple;
}

input[type="text"]:focus,
input[type="email"]:focus {
	border: 1px solid $darkRed;
	outline: none;
}

.radio span {
	font-family: $paragraph;
	font-size: 1.6em;
	line-height: 1.5em;
	color: $darkRed;
	text-transform: none;
}

.radio span:hover {
	cursor: pointer;
}

.radio span::before {
	border: 1px solid $darkRed;
	background-color: white;
	border-radius: 5px;
}

.radio span::after {
	border-radius: 2px;
	background-color: $darkRed;
	opacity: 0;
}

input[type="radio"]:checked + label span::after {
	opacity: 1;
	background-color: $darkPurple;
}

input[type="submit"] {
	border: 1px dashed $darkRed;
	border-radius: 6px;
	background-color: transparent;
	color: $darkPurple;
	font-family: $submit;
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px 30px;
}

input[type="submit"]:focus {
	border: 1px solid $darkRed;
	outline: none;
}

input[type="radio"] {
	display: none;
}

@media (min-width: 1024){

	input[type="radio"]:hover + label span::after {
		opacity: 0.6;
		background-color: $darkRed;
	}
}