.header {
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("assets/images/1920x1500.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 775px;
}

.header__text {
	background-color: rgba(0, 0, 0, 0.2);
}

.logo {
	font-family: $cursive;
	font-size: 5vw;
	color: $paleYellow;
	text-shadow: 0px 0px 3px #8a2b2a;
}

.logo h1 span {
	font-family: $cursiveAccent;
	font-size: 10vw;
	line-height: 1.4em;
}

svg {
	fill: $paleYellow;
}


@media (min-width: 768px){

	.logo {
		font-size: 40px;
	}

	.logo h1 span {
		font-size: 88px;
	}
}

@media (min-width: 1024px){

	.header {
		background-size: 100%;
	}

	.logo {
		font-size: 26px;
	}

	.logo h1 span {
		font-size: 64px;
	}
}

@media (min-width: 1200px){

	.logo {
		font-size: 24px;
	}

	.logo h1 span {
		font-size: 60px;
	}
}