.registry .honeyfund__button {
	border: 1px dashed $darkRed;
	border-radius: 6px;
	background-color: transparent;
	color: $darkPurple;
	font-family: $submit;
	font-size: 2em;
	text-transform: uppercase;
	padding: 10px 30px;
	text-decoration: none;
}

.honeyfund__button:focus {
	border: 1px solid $darkRed;
	outline: none;
}

.registry__links a {
	border-top: 1px solid $darkRed;
	border-bottom: 1px solid $darkRed;
}