.registry .honeyfund__button {
	border-top: 4px solid $darkRed;
	border-bottom: 4px solid $darkRed;
	background-color: transparent;
	color: $darkPurple;
	font-family: $submit;
	font-size: 2em;
	text-transform: uppercase;
	padding: 20px 30px;
	text-decoration: none;
}

.honeyfund__button:focus {
	border: 4px solid $darkRed;
	outline: none;
}

.registry__links a {
	border-top: 4px solid $darkRed;
	border-bottom: 4px solid $darkRed;
}