.registry .honeyfund__button {
	border-top: 4px solid $darkRed;
	border-bottom: 4px solid $darkRed;
	background-color: transparent;
	color: $darkPurple;
	font-family: $submit;
	font-size: 2em;
	text-transform: uppercase;
	text-decoration: none;
}

.registry__links a {
	border-top: 4px solid $darkRed;
	border-bottom: 4px solid $darkRed;
}

.registry a:focus {
	outline: none;
}


@media (hover: hover){

	.registry .honeyfund__button {
		border-top: 2px solid $darkRed;
		border-bottom: 2px solid $darkRed;
	}

	.registry__links a {
		border-top: 2px solid $darkRed;
		border-bottom: 2px solid $darkRed;
	}
}

@media (min-width: 768px) {

	.registry .honeyfund__button {
		border-top: 3px solid $darkRed;
		border-bottom: 3px solid $darkRed;
	}

	.registry__links a {
		border-top: 3px solid $darkRed;
		border-bottom: 3px solid $darkRed;
	}
}

@media (min-width: 1024px) {

	.registry .honeyfund__button {
		border-top: 2px solid $darkRed;
		border-bottom: 2px solid $darkRed;
	}

	.registry__links a {
		border-top: 2px solid $darkRed;
		border-bottom: 2px solid $darkRed;
	}
}