.l-content {
	padding: 30px 25px 125px;
}

.l-content h1 {
	margin-top: 80px;
	margin-bottom: 40px;
}

.l-content h2 {
	margin-bottom: 20px;
}

.l-content p {
	margin-bottom: 20px;
}

.l-content .accent {
	margin-bottom: 30px;
}


@media (hover: hover){

	.l-content h1 {
		margin: 40px 0px 30px;
	}
}

@media (min-width: 450px){

	.l-content {
		padding: 30px 50px 125px;
	}
}

@media (min-width: 800px){

	.l-content {
		padding: 30px 70px 125px;
	}
}

@media (min-width: 1024px){

	.l-content {
		max-width: 1000px;
		margin: 0px auto;
		padding: 30px 0px 150px;
	}
}