.l-contact form {
	margin: 80px 0px;
}

.l-contact .l-question span {
	width: 25%;
}

.l-contact .l-question input {
	width: 75%;
}


@media (hover: hover){

	.l-contact form {
		margin: 20px 0px;
	}
}

@media (min-width: 768px) and (hover: hover){

	.l-contact {
		max-width: 768px;
		margin: 0px auto;
	}
}

@media (min-width: 1024px){

	.l-contact {
		max-width: 800px;
		margin: 80px auto;
	}

	.l-contact form {
		max-width: 70%;
		margin: 0px auto;
	}
}

@media (min-width: 1200px){

	.l-contact {
		max-width: 1000px;
	}
}