@media (min-width: 550px){

	.l-contact {
		max-width: 500px;
		margin: 0px auto;
	}
}

@media (min-width: 1200px){

	.l-contact {
		max-width: 600px;
	}

	.l-contact textarea {
		min-height: 200px;
	}
}