.l-icon {
	max-width: 30px;
	display: block;
	margin: 0px auto 50px;
}

@media (min-width: 550px){

	.l-details ul {
		display: flex;
	    flex-wrap: wrap;
		align-items: flex-start;
	}

	.l-details ul li {
		display: inline-block;
		width: calc(50% - 2px);
		padding: 0px 30px;
	}
}

@media (min-width: 1024px){

	.l-details ul {
		align-items: stretch;
	}

	.l-details ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: calc(33.333% - 20px);
		padding: 25px 30px;
		margin: 10px;
		min-height: 300px;
	}

	.l-detail__group {
		padding: 20px;
	}

	.l-icon {
		max-width: 30px;
		display: block;
		margin: 0px auto 20px;
	}
}