input[type="text"],
input[type="email"] {
	display: inline-block;
	width: 55%;
}

form {
	text-align: center;
}

form span {
	display: inline-block;
	width: 40%;
	margin-right: 20px;
	text-align: left;
}

.l-question {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.l-radio {
	display: flex;
	flex-direction: column;
	text-align: left;
}

form input[type="submit"] {
	margin-top: 30px;
}