.l-header {
	overflow: hidden;
}

.l-header__text {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	min-height: 475px;

	position: relative;
}

.l-burger {
	position: relative;
	z-index: 7;
	max-height: 40px;
}

.l-logo {
	display: block;
	max-width: 75%;
	line-height: 1.5em;
	transform: rotate(-9deg);
	position: relative;
	z-index: 3;
	max-height: 80px;
	overflow: visible;
}

svg {
	display: block;
}


@media (min-width: 1200px){

	.l-header__text {
		min-height: 600px;
	}
}