.l-navigation {
	position: absolute;
	right: -400px;
	top: 0;

	transition: all 0.2s linear;
}

.l-navigation ul {
	min-height: 775px;
	min-width: 38vw;
	padding-top: 120px;
}

.l-navigation ul li a {
	display: block;
	padding: 30px 25px;
}

@media (min-width: 768px){

	.l-navigation ul {
		min-height: 775px;
		min-width: 35vw;
		padding-top: 110px;
	}
}

@media (min-width: 1024px){

	.l-burger {
		display: none;
	}

	.l-navigation {
		position: static;
	}

	.l-navigation ul {
		min-height: auto;
		min-width: auto;
		padding-top: 0px;

		display: flex;
	}

	.l-navigation ul li a {
		display: inline-block;
		padding: 15px 20px;
		white-space: nowrap;
	}
}