.l-registry {
	text-align: center;
}

.l-honeyfund__button {
	display: inline-block;
	margin-bottom: 70px;
}

.l-registry__links {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	margin-top: 30px;
}

.l-registry__links a {
	display: flex;
	max-width: 25%;
	padding: 15px 8px;
	align-items: center;
}

@media (max-width: 375px){

	.l-registry__links {
		display: block;
	}

	.l-registry__links a {
		margin: 20px auto;
		max-width: 80%;
	}
}

@media (min-width: 800px){

	.l-registry {
		padding: 0px 30px;
	}

	.l-registry__links {
		max-width: 650px;
		margin: 0px auto;
	}
}