.l-rsvp {
	margin: 120px 0px;
}


@media (hover: hover){

	.l-rsvp {
		margin: 60px 0px;
	}
}

@media (min-width: 768px) and (hover: hover){

	.l-rsvp {
		margin: 80px 0px;
	}
}

@media (min-width: 1024px){

	.l-rsvp {
		max-width: 800px;
		margin: 100px auto;
	}
}